.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #1976d2;
  color: white;
  font-weight: 600;
  padding-left: 90px;
  font-size: 243%;
}

.container {
  padding: 53px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .listCustomer {
  -webkit-box-flex: 70%;
      -ms-flex: 70%;
          flex: 70%;
  padding: 0 50px;
}

.container .listCustomer .customer {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-shadow: #707070 1px 3px 7px 0px;
          box-shadow: #707070 1px 3px 7px 0px;
  border-radius: 20px;
}

.container .listCustomer .customer .active {
  position: absolute;
  bottom: 20px;
  right: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .listCustomer .customer .active .btn {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.container .listCustomer .customer .active button {
  background-color: white;
  border: #787586 1px solid;
  color: #787586;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  outline: none;
}

.container .listCustomer .customer .avatar {
  -webkit-box-flex: 20%;
      -ms-flex: 20%;
          flex: 20%;
  width: 100%;
  height: 100%;
}

.container .listCustomer .customer .avatar img {
  width: 100%;
  height: 100%;
  border-radius: 20px 0 0 20px;
}

.container .listCustomer .customer .content {
  -webkit-box-flex: 80%;
      -ms-flex: 80%;
          flex: 80%;
  color: #707070;
  padding-left: 20px;
}

.container .listCustomer .customer .content h2 {
  font-size: 120%;
  padding-top: 40px;
}

.container .newCustomer {
  -webkit-box-flex: 30%;
      -ms-flex: 30%;
          flex: 30%;
  background-color: #F9F9F9;
  padding: 0px 50px;
  color: #535353;
}

.container .newCustomer input {
  width: 100%;
  padding: 10px 10px;
  border-radius: 3px;
  border: #F1F1F1 1px solid;
  margin: 20px 0;
}

.container .newCustomer input::-webkit-input-placeholder {
  color: #CBCBCB;
}

.container .newCustomer input:-ms-input-placeholder {
  color: #CBCBCB;
}

.container .newCustomer input::-ms-input-placeholder {
  color: #CBCBCB;
}

.container .newCustomer input::placeholder {
  color: #CBCBCB;
}

.container .newCustomer .file {
  display: inline;
  width: 20%;
  border: none;
  background-color: white;
}

.container .newCustomer span {
  border: #787568 1px solid;
  border-radius: 3px;
  padding: 0px 5px;
}

.container .newCustomer .img {
  width: 40%;
  padding-top: 5px;
  margin: auto;
}

.container .newCustomer .img img {
  width: 100%;
  height: 100%;
}

.container .newCustomer button {
  width: 100%;
  background-color: #124BE6;
  padding: 10px 30px;
  border: none;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  font-size: 100%;
  margin-top: 10px;
}

.bl {
  display: block;
}
/*# sourceMappingURL=app.component.css.map */