

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <span>Customers</span>
</div>
<div class="container">
  <div class="listCustomer">
    <div  *ngFor="let customer of customer; let i=index"  class="customer">
      <div class="avatar">
        <img src="assets/images/chibi.jpg" alt="" />
      </div>
      <div class="content">
        <h2>{{customer.name}}</h2>
        <p>{{customer.address}}</p>
        <p>{{customer.phone}}</p>
      </div>

      <div class="active">
        <div class="btn">
        <button (click) ="editCustomer(i)"> <i class="far fa-edit"></i></button>
      </div>
      <div class="btn">
        <button (click)="delete(customer.id);"  onClick = "return Confirm('Bạn có chắc chắn muốn xóa không?')"><i class="fas fa-trash-restore-alt"></i></button>
      </div>
      </div>
    </div>
    <div class="newCustomer">
      <label for="" class="bl"><h2>Update Customer:</h2></label>
      <input id="name" name="name"  class="bl" placeholder="Full name" [(ngModel)]='model2.name'  >
      <input  id="address" name="address"  class="bl" placeholder="Address" [(ngModel)]="model2.address">
      <input id="phone " name="phone"  class="bl" placeholder="Phone" [(ngModel)]= "model2.phone" >
      <label   class="bl"for="file">Avatar:
        <span>Choose file</span>
        <input style="display: none;" id="file"type="file" class="file"  (change)="selectFile($event)">
      </label>
      <div class="img">
        <img  class="bl" [src]="url" alt="">
      </div>
      <button (click)="UpdateCustomer()">Update</button>
    </div>
  </div>

  <div class="newCustomer">
    <label for="" class="bl"><h2>New Customer:</h2></label>
    <input id="name" type="text" name="name" class="bl" placeholder="Full name" [(ngModel)]='model.name'  >
    <input id="address" type="text"  name="address" class="bl" placeholder="Address" [(ngModel)]="model.address">
    <input id="phone " type="text"  name="phone" class="bl" placeholder="Phone" [(ngModel)]= "model.phone" >
    <label   class="bl"for="file">Avatar:
      <span>Choose file</span>
      <input style="display: none;" id="file"type="file" class="file"  (change)="selectFile($event)">
    </label>
    <div class="img">
      <img  class="bl" [src]="url" alt="">
    </div>
    <button (click)="addCustomer()">Submit</button>
  </div>

</div>


